* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

body {
    background-color: #151515;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container-menu {
    width: 100%;
    height: 15vh;
    /*     border: 1px solid white;
 */
    display: flex;
}

.container-menu .menu {
    width: 100%;
    height: 15vh;
    /*     border: 1px solid white;
 */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10% 0 10%;
    justify-content: space-between;
}

.container-menu .menu .logotype a {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.container-menu .menu .menu-links {
    /*     border: 1px solid white;
 */
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.container-menu .menu .menu-links a {
    color: #B4B6BF;
    font-size: 0.9rem;
}

.container-menu .menu .menu-login {
    /*     border: 1px solid white;
 */
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-menu .menu .menu-login a {
    color: #B4B6BF;
    font-size: 0.9rem;
    font-weight: 700;
}

.container-menu .menu .menu-login .btn-contact {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    background-color: #6A37FF;
    color: white;
    font-weight: 700;
    transition: all 0.5s ease;
}

.container-menu .menu .menu-login .btn-contact:hover {
    background-color: #4F2BFF;
    box-shadow: 0 0 0 0.2rem rgba(106, 55, 255, 0.5);
}

.container-main {
    width: 100%;
    height: 65vh;
    display: flex;
    /*     border: 1px solid white;
 */
    margin-top: 5%;
}

.container-main .right-space {
    margin-left: 10%;
    /*     border: 1px solid white;
 */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-main .right-space .title {
    width: 80%;
    height: 30%;

    font-size: 5.5rem;
    text-align: justify;

}

.container-main .right-space .title span {
    font-size: 5rem;
    letter-spacing: 2px;
    color: #6A37FF;
}

.container-main .right-space .description {
    width: 80%;
    color: #B4B6BF;
    font-size: 1rem;
    text-align: left;
    margin-top: 3%;
}

.container-main .right-space .comments {
    /*     border: 1px solid white;
 */
    width: 80%;
    margin-top: 4%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.container-main .right-space .comments .quotation-marks {
    font-size: 4rem;
    color: #6A37FF;
    position: relative;
    top: 0.5rem;
}

.container-main .right-space .comments .comments-descriptions {
    font-size: 1.2rem;
    position: relative;
    top: -1.5rem;
    right: -1.5rem;
    text-align: justify;
}

.container-main .right-space .comments .perfil {
    /*     border: 1px solid white;
 */
    display: flex;
    position: relative;
    right: -1.5rem;
    align-items: center;
}

.container-main .right-space .comments .perfil .perfil-img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.container-main .right-space .comments .perfil .perfil-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.container-main .right-space .comments .perfil .perfil-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

.container-main .right-space .comments .perfil .perfil-description .perfil-name {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.container-main .right-space .comments .perfil .perfil-description .perfil-position {
    font-size: 0.9rem;
    color: #B4B6BF;
    letter-spacing: 1px;
}

.container-main .left-space {
    width: 40%;
    height: 100%;
    display: flex;
}

.container-main .left-space .card {
    margin-right: 25%;
    background-color: #212325;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.container-main .left-space .card .card-header {
    display: flex;
    width: 80%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    margin: 5% 10% 0 10%;
}

.container-main .left-space .card .card-header p {
    font-size: 1.2rem;
    font-weight: 700;
    color: #B4B6BF;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container-main .left-space .card .card-header .aux {
    display: flex;
    align-items: center;
    width: 12%;
    justify-content: space-between;
}

.container-main .left-space .card .card-header .card-range1,
.container-main .left-space .card .card-header .card-range2,
.container-main .left-space .card .card-header .card-range3 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #575861;
}

.container-main .left-space .card .card-header .card-range3 {
    background-color: #6A37FF;
}

.container-main .left-space .card .card-img {
    height: 50%;
    width: 90%;
    margin: 5% 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main .left-space .card .card-img .card-img-aux {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main .left-space .card .card-img .card-img-aux img {
    position: relative;
    top: 0.2rem;
    right: -0.2rem;
    width: 12rem;
}

.container-main .left-space .card .card-description {
    width: 80%;
    height: 30%;
    margin: 5% 10% 0 10%;
    display: flex;
    flex-direction: column;
}

.container-main .left-space .card .card-description .number {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}

.container-main .left-space .card .card-description .description {
    margin-top: -0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: #B4B6BF;
    margin-bottom: 1rem;
}

.container-main .left-space .card .card-description .information {
    font-size: 0.9rem;
    text-align: justify;
}

.container-menu .menu .icon-responsive {
    display: none;
}

.container-menu .menu .icon-responsive button {
    border: none;
    background-color: transparent;
    color: #B4B6BF;
    cursor: pointer;
}

.menu-links-hiden {
    display: none;
    position: absolute;
    top: 8rem;
    right: 30%;
    width: 50%;
    height: 4vh;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #212325;
    box-shadow: 0 0 10px 0 #b4b6bf93
}

.menu-links-hiden a {
    color: #B4B6BF;
    font-size: 0.9rem;

}

/*responsive deign*/

@media screen and (max-width: 1415px) {
    .container-main .right-space .description {
        margin-top: 10%;
    }
}

@media screen and (max-width: 1300px) {
    .container-main .left-space .card .card-header .aux {
        width: 15%;
    }
}

@media screen and (max-width: 972px) {
    .container-menu .menu .menu-links {
        display: none;
    }

    .container-menu .menu .menu-login {
        width: 50%;
    }

    .container-main .right-space .title {
        font-size: 4rem;
    }

    .container-main .right-space .title span {
        font-size: 4rem;
    }

    .container-menu .menu .icon-responsive {
        display: block;
    }

    .container-main .left-space .card .card-img .card-img-aux {
        height: 180px;
        width: 180px;
    }

    .container-main .left-space .card .card-img .card-img-aux img {
        width: 10rem;
    }

    .container-main .left-space .card .card-header .aux {
        width: 20%;
    }

    .container-main {
        margin-top: 10%;
    }

    .container-main .right-space .description {
        margin-top: 0rem;
    }

    .container-main .right-space .comments .comments-descriptions {
        font-size: 1rem;
    }

    .container-main .right-space .comments .quotation-marks {
        font-size: 4rem;
    }

    .container-main .right-space .comments .perfil .perfil-description {
        width: 50%;
    }
}

@media screen and (max-width: 740px) {
    .container-main {
        margin-top: 4rem;
        flex-direction: column;
    }

    .container-main .right-space {
        width: 100%;
        margin: 0;

        justify-content: center;
        align-items: center;
    }

    .container-main .right-space .title {
        font-size: 3rem;
    }

    .container-main .right-space .title span {
        font-size: 3rem;
    }

    .container-main .right-space .description {
        font-size: 1rem;
        margin-top: 3rem;
    }

    .container-main .right-space .comments .comments-descriptions {
        width: 90%;
    }

    .container-main .left-space {
        width: 100%;
        margin-top: 4rem;
        align-items: center;
        justify-content: center;
    }

    .container-main .left-space .card {
        margin: 0 10% 0 10%;
        height: 30rem;
    }

}

@media screen and (max-height: 1000px){
    .container-main .right-space .description{
        margin-top: 6rem;
    }
}
